* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-trigger {
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-trigger:hover {
  opacity: 0.6;
}

.img-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.img-box {
  width: 700px;
  max-width: 100%;
}

.img-modal img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: zoom 0.5s;
  transition: 0.2s;
}

.caption {
  font-size: 20px;
  padding: 20px;
  animation: slideUp 0.3s;
  transition: 2s;
}

.btn {
  font-size: 50px;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

.hide {
  display: none;
}
