* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: #ddd;
}

.side-bar {
  width: 0;
  height: 100vh;
  max-width: 100%;
  background: #222;
  transition: 0.5s;
  color: #fff;
  padding: 30px 15px;
  opacity: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.side-bar li {
  list-style: none;
  font-size: 22px;
  margin: 20px 8px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

.side-bar li:hover,
.close-btn:hover {
  opacity: 1;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn .fa-solid {
  font-size: 22px;
}

.btn-group {
  transition: margin-left 0.5s;
  padding: 15px 20px;
  height: 100vh;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 4px;
  background: #333;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: 0.2s;
}

.btn:hover {
  background: rgb(186, 19, 19);
}
