* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  padding: 20px;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: auto;
  border: 1px solid #bbb;
}

.responsive-tab {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.nav {
  background: #eee;
  display: flex;
  font-size: 18px;
}
.nav li {
  list-style: none;
  padding: 16px 20px;
  cursor: pointer;
}
.nav li:hover {
  background: #ddd;
}

.response-nav {
  border-bottom: 1px solid #bbb;
}

.response-nav .active {
  background: #bbb;
}

.content-item {
  display: none;
  padding: 20px 10px;
}
.content-item p {
  font-size: 18px;
}
.content-item p:first-child {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-item.active {
  display: block !important;
}

.tab-header-content .content-item {
  text-align: center;
  display: none;
  padding: 50px 0;
}

.tab-header-nav .active,
.content-item.active {
  color: #fff;
}

.tab-header-nav .f.active,
.content-item.f {
  background: #bc1717;
}
.tab-header-nav .s.active,
.content-item.s {
  background: orange;
}
.tab-header-nav .t.active,
.content-item.t {
  background: green;
}

@media (max-width: 400px) {
  .responsive-tab {
    flex-direction: row;
  }

  .response-nav {
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid #ccc;
  }
}
