* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  padding: 20px;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: auto;
  border: 1px solid #bbb;
}

.responsive-tab {
  display: flex;
  flex-direction: column;
  height: 180px;
}

.nav {
  background: #eee;
  display: flex;
  font-size: 18px;
}
.nav li {
  list-style: none;
  padding: 16px 20px;
  cursor: pointer;
}
.nav li:hover {
  background: #ddd;
}

.response-nav {
  border-bottom: 1px solid #bbb;
}

.response-nav .active {
  background: #bbb;
}

.content-item {
  display: none;
  padding: 20px 10px;
}

.response-content .content-item.active {
  display: inline-block;
  color: #000;
}

.content-item p {
  font-size: 18px;
}
.content-item p:first-child {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tab-header-content .content-item.active {
  display: block !important;
}

.tab-header-content .content-item {
  text-align: center;
  display: none;
  padding: 30px 0;
}

.tab-header-nav .active,
.content-item.active {
  color: #fff;
}

.tab-header-nav .f.active,
.content-item.f {
  background: #bc1717;
}
.tab-header-nav .s.active,
.content-item.s {
  background: orange;
}
.tab-header-nav .t.active,
.content-item.t {
  background: green;
}

.side-nav-container {
  overflow: hidden;
  position: relative;
}
.side-nav-container .btn {
  width: 130px;
  padding: 15px;
  padding-right: 20px;
  color: #fff;
  margin: 10px 0;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  transition: 0.3s;
  transform: translateX(-65%);
  cursor: pointer;
}

.side-nav-container p {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  text-align: center;
  font-size: 18px;
}

.side-nav-container .btn:hover {
  transform: translateX(0);
}

.btn.about {
  background: #04aa6d;
}
.btn.blog {
  background: #2196f3;
}
.btn.project {
  background: #f44336;
}
.btn.contact {
  background: #555555;
}
@media (max-width: 400px) {
  .responsive-tab {
    flex-direction: row;
  }

  .response-nav {
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid #ccc;
  }
}
